<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Anagram-i-nator</title>

        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cyborg/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-cloak>
        <header class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span><h3 class="panel-title">Anagram-i-nator</h3>
                </div>
                <div  id="jumbo" class="panel-body collapse in">
                    <h1 class='textxxLarge text-center'>Anagram-i-nator</h1>
                    <h3 class='textLarge text-center'>A tool to help you find pairs of anagram phrases</h3>
                    <h4 class='textxxMedium'>For instance enter <span class='firstExample'>I am a weakish speller</span> in the <span class='font-bold'>first phrase</span> box below left and <span class='secondExample'>William Shakespeare</span> in the <span class='font-bold'>second phrase</span> box below right, to achieve a <span class='matchExample'>MATCH!</span> showing that these phrases are anagrams of each other.</h4>
                    <h4 class='textxxMedium'>Beneath each phrase box is an <span class='font-bold'>unmatched letters</span> box. An <span class='font-bold'>unmatched letters</span> box contains the letters from the phrase above it that are not currently matched by the other phrase. When <span class='matchExample'>MATCH!</span> is displayed in both <span class='font-bold'>unmatched letters</span> boxes, the first and second phrases are anagrams of each other.</h4>
                    <h4 class='textxxMedium'>Below each <span class='font-bold'>unmatched letters</span> box is displayed all the words that the system can make from those <span class='font-bold'>unmatched letters</span>. The words are paged by word length and for a given word length can be filter with a search field found underneath the words.</h4>
                    <h4 class='textxxMedium'>When you click on a word made from the <span class='font-bold'>unmatched letters</span> of the <span class='font-bold'>first phrase</span>, it will be added to the <span class='font-bold'>second phrase</span> (and vise versa) while keeping the letter count in the phrase at no greater than 26 letters.</h4>
                    <h5 class='textMedium text-center'>NOTE: Each phrases cannot exceed 26 letters in length. Punctuation is ignored.</h5>
                </div>
            </div>
        </header>
        <section id="body" class="container" ng-controller="AnagramController"> 
            <section class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h2 class="panel-title text-center font-bold"> - FIRST - </h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <label for="firstPhrase" class="control-label col-md-6">First Phrase ({{firstCount}}/{{maxLetters}}):</label>
                            <div class="col-md-6">
                                <textarea id="firstPhrase" rows="2" cols="26" no-return maxlength="52" class="form-control" placeholder="Enter your first phrase here. Maximun number of letters 26." ng-model="first" ng-change="updateUnmatched()"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <label for="firstUnmatched" class="control-label col-md-6">Unmatched letters in first phrase:</label>
                            <div class="col-md-6">
                                <div id="firstUnmatched" class="well well-sm panel">
                                    <p unmatched first-or-second="first" ng-show="!match()">{{firstUnmatchedWithSpaces}}</p>
                                    <p class="text-center match" ng-show="match()">MATCH!</p>
                                </div>
                            </div>
                        </div>
                        <p><b>Below are words found in unmatched letters from first phrase.<br/>Page and filter through them as required and click to add to second phrase:</b></p>
                        <div class="col-md-12">
                            <div class="wordControllers">
                                <tabset>
                                    <a class="goLeft" ng_class="'active'" ng-click="firstBack()"><i class="fa fa-arrow-circle-left"></i></a>
                                    <a class="goRight" ng-click="firstForward()" ng_class="'active'"><i class="fa fa-arrow-circle-right"></i></a>
                                    <tab ng-repeat="words in firstWordsFiltered track by $index" active="getFirstActive($index)" >
                                        <tab-heading>
                                            <div ng-click="setFirstActive($index)">
                                                <i ng-show="showFirst($index)" class="fa fa-circle"></i>
                                                <i ng-show="!showFirst($index)" class="fa fa-circle-o"></i>
                                            </div>
                                        </tab-heading>
                                        <div class="fixedheight firstWords well well-sm panel">

                                            <ul first-click-through class="list-unstyled">
                                                <li ng-repeat="word in words| orderBy | startFrom: getCurrentFirstPage($index) * pageSize[$index] | limitTo: pageSize[$index]">{{word}}</li>
                                            </ul>

                                            <a class="bottomleft" ng_show="numberOfFirstPages($index) > 1" ng_class="'active'" ng-click="previousFirstPage($index)"><i class="fa fa-arrow-circle-left"></i> Previous Page</a><p ng_class="'active'"  class="paganationInfo" ng_show="numberOfFirstPages($index) > 1">

                                                <a class="bottomright" ng_show="numberOfFirstPages($index) > 1" ng_class="'active'" ng-click="nextFirstPage($index)" > Next Page <i class="fa fa-arrow-circle-right"></i></a>


                                        </div>
                                        <p class="small" id="firstPagination{{$index}}" align="center"> : {{wordsTitle[$index]}}<span ng-show='firstWordsAll[$index].length !== 0'> : words found {{firstWordsCount[$index]}} : Page {{getCurrentFirstPage($index) + 1}} of {{numberOfFirstPages($index)}}</span></p>

                                    </tab>
                                </tabset>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h2 class="panel-title text-center font-bold"> - SECOND - </h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <label for="secondPhrase" class="control-label col-md-6">Second Phrase  ({{secondCount}}/{{maxLetters}}):</label>
                            <div class="col-md-6">
                                <textarea id="secondPhrase" rows="2" cols="26" no-return maxlength="52" class="form-control" placeholder="Enter your second phrase here. Maximun number of letters 26." ng-model="second" ng-change="updateUnmatched()"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <label for="secondUnmatched" class="control-label col-md-6">Unmatched letters in second phrase:</label>
                            <div class="col-md-6">
                                <div id="secondUnmatched" class="well well-sm panel">
                                    <p unmatched first-or-second="second" ng-show="!match()" />{{secondUnmatchedWithSpaces}}</p>
                                    <div  ng-show="match()" class="match" >
                                        <p class="text-center match" ng-show="match()">MATCH!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><b>Below are words found in unmatched letters from second phrase.<br/>Page and filter through them as required and click to add to first phrase:</b></p>
                        <div class="col-md-12">
                            <div class="wordControllers">
                                <tabset>
                                    <a class="goLeft" ng_class="'active'" ng-click="secondBack()"><i class="fa fa-arrow-circle-left"></i></a>
                                    <a class="goRight" ng-click="secondForward()" ng_class="'active'"><i class="fa fa-arrow-circle-right"></i></a>
                                    <tab ng-repeat="words in secondWordsFiltered track by $index" active="getSecondActive($index)" >
                                        <tab-heading>
                                            <div ng-click="setSecondActive($index)">
                                                <i ng-show="showSecond($index)" class="fa fa-circle"></i>
                                                <i ng-show="!showSecond($index)" class="fa fa-circle-o"></i>
                                            </div>
                                        </tab-heading>
                                        <div class="fixedheight secondWords well well-sm panel">

                                            <ul second-click-through class="list-unstyled">
                                                <li ng-repeat="word in words| orderBy | startFrom: getCurrentSecondPage($index) * pageSize[$index] | limitTo: pageSize[$index]">{{word}}</li>
                                            </ul>

                                            <a class="bottomleft" ng_show="numberOfSecondPages($index) > 1" ng_class="'active'" ng-click="previousSecondPage($index)"><i class="fa fa-arrow-circle-left"></i> Previous Page</a><p ng_class="'active'"  class="paganationInfo" ng_show="secondWordsFiltered[$index].length !== 0">

                                                <a class="bottomright" ng_show="numberOfSecondPages($index) > 1" ng_class="'active'" ng-click="nextSecondPage($index)" > Next Page <i class="fa fa-arrow-circle-right"></i></a>


                                        </div>
                                        <p  class="small"  id="secondPagination{{$index}}" align="center"> : {{wordsTitle[$index]}}<span ng-show='secondWordsAll[$index].length !== 0'> : words found {{secondWordsCount[$index]}} : Page {{getCurrentSecondPage($index) + 1}} of {{numberOfSecondPages($index)}}</span></p>

                                    </tab>
                                </tabset>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </section>
        <hr />
        <footer class="container">

        </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!--- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
         <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>--->

        <script src="js/lib/jquery.min.js"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <script src="js/lib/angular.js"></script>
        <script src="js/lib/ui-bootstrap-tpls-0.12.1.js"></script>



        <script src="js/app.js"></script>
        <script src="js/controllers/AnagramController.js"></script>
        <script src="js/services/Compare.js"></script>
        <script src="js/services/WordData.js"></script>
        <script src="js/services/StartFrom.js"></script>
        <script src="js/directives/NoReturn.js"></script>
        <script src="js/directives/ClickThrough.js"></script>
        <script src="js/directives/Unmatched.js"></script>
        <script src="js/Site.js"></script>
    </body>
</html>